<div class="cover mb-4 d-flex align-items-center justify-content-center" style="background-image: url(<%= asset_path('landscape.jpg') %>)">
  <div class="text-center text-white">
    <h3 class="typed-js" data-controller="typed-js"><strong>All listings in the App will be shown here</strong></h3>
  </div>
</div>

<div class="container">

<% @listings.each do |listing| %>
  <div class="card" id="list1" onmouseenter="showButton('list1')" onmouseleave="hideButton('list1')">
    <img src="https://picsum.photos/500/300/?building" alt="" class="card__img">
    <div class="card__body">
      <h3 class="card__title"></i><%= listing.item_name %></h3>
      <div class="card__desc">
        <span class="card__desc__room"></i><%= listing.item_description %></span>
        <span class="card__desc__price"> <span class="card__desc__price--small"></span><%= listing.price %></span>
      </div>
    </div>
    <div class="card__buttons">
      <button class="card__buttons--gray btn"><%= link_to 'Edit', edit_listing_path(listing) %></button>
    </div>
  </div>
<% end %>
</div>
