<div class="d-flex py-2 px-2 pb-0">
  <%= form_with url: listings_path, method: :get, class: "d-flex w-100" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a listing"
    %>
    <%= submit_tag "Search", class: "btn btn-danger" %>
  <% end %>
</div>

<br>
<div class="container">
  <div class="cover mb-0 d-flex align-items-center justify-content-center" style="background-image: url('https://media.karousell.com/media/photos/special-collections/2022/10/14/sg_SOC-Demand-14Oct_SPC-M_(1500,_610).png'); width: 1150px; height: 325px; object-fit: cover;">
    </div>
  </div>
</div>


<div class="container">

<% @listings.each do |listing| %>
  <div class="card" id="list1" onmouseenter="showButton('list1')" onmouseleave="hideButton('list1')">
    <% if listing.photo.key? %>
      <%= cl_image_tag(listing.photo.key, class: "card__img")%>
    <% else %>
      <img src="https://picsum.photos/500/300/?building" alt="" class="card__img">
    <% end %>
    <div class="card__body">
      <h3 class="card__title"></i><%= listing.item_name %></h3>
      <div class="card__desc">
        <span class="card__desc__room"></i>Listed by: <%= listing.user.username %></span>
        <span class="card__desc__price"> <span class="card__desc__price--small"></span>$<%= listing.price %></span>
      </div>
    </div>
    <div>
      <%= link_to "View", listing_path(listing), class: "btn btn-whiteview w-100"%>
    </div>
  </div>
<% end %>
</div>
