<h1>My Listings</h1>
<br>
<% @listing.each do |element| %>
  <div class="row justify-content-center align-items-center">
    <div class="col-12 my-2">
      <h3><%= element.item_name %></h3><br>
      <%= cl_image_tag(element.photo.key, class: "listing-photos") %><br>
      <strong>Description: </strong><%= element.item_description %><br>
      <strong>Price: </strong><%= element.price %><br>
      <strong>Listed by: </strong><%= element.user.username %><br>
      <button type="button" class="btn btn-red"><%= link_to "View", listing_path(element.id) %></button>
      <button type="button" class="btn btn-whiteview"><%= link_to 'Edit', edit_listing_path(element) %></button>
    </div>
  </div>
<% end %>
