
<h2 class="text-center pt-5">All my listings</h2>

<div class="container">
  <% @listings.each do |listing| %>
    <div class="card" id="list1" onmouseenter="showButton('list1')" onmouseleave="hideButton('list1')">
      <% if listing.photo.key? %>
        <%= cl_image_tag(listing.photo.key, class: "card__img")%>
      <% else %>
        <img src="https://picsum.photos/500/300/?building" alt="" class="card__img">
      <% end %>
      <div class="card__body">
        <h3 class="card__title"></i><%= listing.item_name %></h3>
        <div class="card__desc">
          <span class="card__desc__room"></i>
          <% if listing.offers.any? %>
            <%= link_to "View Offers(#{listing.offers.size})", listing_offers_path(listing) %>
          <% else %>
            No Offer Yet
          <% end %>
          </span>
          <span class="card__desc__price"><span class="card__desc__price--small"></span>$<%= listing.price %></span><br>
        </div>
        <%= link_to "View Listing", listing_path(listing.id), class: "btn btn-red mt-3 w-100" %>

        <% listing.offers.each do |offer| %>
          <% if offer.status == "accepted" %>
            <p><i>*Offer accepted, listing sold.</i></p>
          <% end %>
        <% end %>

      </div>
    </div>
  <% end %>
</div>
