<div class="container d-flex">
  <div class="row justify-content-center align-items-center">
    <div class="col-12">
      <h2 class="text-center"><%= @listing.item_name %></h2><br>
      <%= cl_image_tag(@listing.photo.key,
                        class: "listing-photo")%><br>
      <strong>Description: </strong><%= @listing.item_description %><br>
      <strong>Price: </strong><%= @listing.price %><br>
      <strong>Listed by: </strong><%= @listing.user.username %><br>
    </div>
  </div>
</div>
