<div class="container d-flex">
  <div class="row justify-content-center align-items-center">
    <div class="col-12">
      <h2 class="text-center pt-5"><%= @listing.item_name %></h2><br>
      <% if @listing.photo.key? %>
        <%= cl_image_tag(@listing.photo.key, class: "listing-photo")%><br>
      <% else %>
        <img src="https://picsum.photos/500/300/?building" alt="" class="listing-photo">
      <% end %>
      <strong>Description: </strong><%= @listing.item_description %><br>
      <strong>Price: $</strong><%= @listing.price %><br>
      <strong>Listed by: </strong><%= @listing.user.username %><br>
      <% if @listing.user == current_user %><i>
        *This is your listed product.</i><br>
        <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-green" %>
        <% if @listing.offers.any? %>
          <%= link_to "View Offers", listing_offers_path(@listing) %>
        <% end %>
      <% elsif @offered == true %>
        You offered $<%= @offered_price %>, pending review.
      <% else %>
        <%= link_to 'Offer', new_listing_offer_path(@listing), class: "btn btn-red" %>
      <% end %>

      <% if @listing.offers.any? %>
        <% @listing.offers.each do |offer| %>
          <% if offer.user == current_user %>
            <% if offer.status == "accepted" %>
              <span class="accepted">Status: <%= offer.status %></span></span><br>
            <% elsif offer.status == "pending" %>
              <span class="pending">Status: <%= offer.status %></span></span><br>
            <% elsif offer.status == "rejected" %>
              <span class="rejected">Status: <%= offer.status %></span></span><br>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
