<div class="container d-flex">
  <div class="row justify-content-center align-items-center">
  <h2 class="text-center pt-5">Received Offers</h2>
    <div class="col">
      <h3 class="pt-2"><%= @offers.first.listing.item_name %></h3><br>
      <% if @offers.first.listing.photo.key? %>
        <%= cl_image_tag(@offers.first.listing.photo.key, class: "listing-photo")%><br>
      <% else %>
        <img src="https://picsum.photos/500/300/?building" alt="" class="listing-photo"><br>
      <% end %>
      <div class="card__body">
        <div class="card__desc__room">
          <span><%= @offers.first.listing.item_description %></span>
          <span class="card__desc__price"><span class="card__desc__price--small">$<%= @offers.first.listing.price %></span></span>
        </div>
      </div>
    </div>

    <div class="col">
      <h4><%= @offers.size %> Offers</h4><br>
      <ol>
      <% @offers.each_with_index do |offer, index| %>
        <li><%= offer.user.username %> offered $<%= offer.offer_price %>. Status:
        <% if offer.status == "accepted" %>
          <span class="accepted"><%= offer.status %></span></span>
        <% elsif offer.status == "pending" %>
          <span class="pending"><%= offer.status %></span></span>
        <% elsif offer.status == "rejected" %>
          <span class="rejected"><%= offer.status %></span></span>
        <% end %>
        <% if offer.status == "pending" %>
          <%= simple_form_for offer, url: listing_offer_path(@listing, offer) do |f| %>
              <%= f.hidden_field :status, :value => "accepted" %>
              <%= f.submit "Accept", class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </li><br>
      <% end %>
    </div>
  </div>
</div>
