<h2 class="text-center pt-5">Offers sent by me</h2>

<div class="container">
  <% @listings.each do |listing| %>
    <div class="card" id="list1" onmouseenter="showButton('list1')" onmouseleave="hideButton('list1')">
      <% if listing.photo.key? %>
        <%= cl_image_tag(listing.photo.key, class: "card__img")%>
      <% else %>
        <img src="https://picsum.photos/500/300/?building" alt="" class="card__img">
      <% end %>
      <div class="card__body">
        <h3 class="card__title"></i><%= listing.item_name %></h3>
        <div class="card__desc">
          <% listing.offers.each do |offer| %>
            <% if offer.user == current_user %>
              <span class="card__desc__room"></i>Your Offered Price: $<%= offer.offer_price %></span><br>
              <span class="card__desc__room"></i>Offer Status:
              <% if offer.status == "accepted" %>
                <span class="accepted"><%= offer.status %></span></span><br>
              <% elsif offer.status == "pending" %>
                <span class="pending"><%= offer.status %></span></span><br>
              <% elsif offer.status == "rejected" %>
                <span class="rejected"><%= offer.status %></span></span><br>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= link_to "View", listing_path(listing), class: "btn btn-whiteview stretched-link" %>
    </div>
  <% end %>
</div>
